<div class="container">
  <h1>Covers</h1>

  <% @covers.each do |cover| %>
    <%= cover.store_name %> <br>
    <%= cover.date_of_shift %> <br>
    <%= cover.time_of_shift %> <br>
    <%= cover.descrption %> <br>
      
      <% if !cover.user.nil? %>
        <%= cover.user.first_name %>
      <% end %>
      
    <%= link_to "Interested", cover_path(cover), class: 'btn btn-primary' %>
    <hr>
  <% end %>
</div>