<div class="container">
  <% @posts.each do |post| %>
    <div class="index-box-page">
      <h1><%= post.title %></h1>
      <h5><%= post.store_name %> || Robert Nemeth || <%= post.position %></h5>
      <p><%= truncate(post.story, :length => 250) %>  <%= link_to "see more", post_path(post) %></p>
      <%= link_to "Edit", edit_post_path(post), class: 'btn btn-primary' %><%= link_to "Show", post_path(post), class: "btn btn-info" %><%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>